<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Фотограф{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
      <header>
       <nav>
           <ul class="menu">
              <li><a href="{% url 'home' %}">Главная</a></li>
              <li><a href="{% url 'about' %}">О себе</a></li>
              <li><a href="{% url 'portfolio' %}">Портфолио</a></li>
              <li><a href="{% url 'services' %}">Услуги</a></li>
              <li><a href="{% url 'contact' %}">Контакты</a></li>
           </ul>
       </nav>
      </header>
    <main>
   {% block content %}{% endblock %}
   </main>
   <footer>
      <p>© 2023 Мой сайт</p>
   </footer>
 </body>
</html>

